@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root{
    --fonte: 'Lato', sans-serif;
    
}
body{
    background-color: rgb(245, 121, 141);
    font-family: 'Lato', sem serifa;
}
input{
    color: rgb(226, 111, 201);
}
form{
    width: 300px;
    margin: auto;
}
h2{
    font-family: var(--fonte);
    width: 300px;
    margin: auto;
}